<%- include('partials/header', {title: 'Home', user: user}) %>

<div class="container mt-4">
  <div class="card p-3 text-bg-dark">
    <h1 class="text-center m-4">Welcome to the Inventory Management System</h1>
    <p class="text-center m-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
      deleniti ea mollitia saepe officiis odit odio reprehenderit consectetur
      dolores harum unde magnam sunt explicabo, natus possimus similique quam
      fugit illum!
    </p>
    <div class="row">
      <div class="m-auto col-md-6">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Total Items</h5>
            <p class="card-text"><%= productCount %></p>
            <a href="/ims/inventory" class="btn btn-primary">View Inventory</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
