<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Inventory Management System | All in one solution that simplifies inventory management
    </title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/landing.css" />
  </head>
  <body>
    <main>
      <section class="bg-slideshow">
        <div class="bg-slide"></div>
        <div class="bg-slide"></div>
        <div class="bg-slide"></div>
        <div class="bg-slide"></div>
        <div class="bg-slide"></div>
      </section>

      <section>
        <h1>Simplify Your Inventory, Amplify Your Business</h1>
        <p>
          From supplier to customer, manage every product movement in one intuitive platform. Gain
          complete visibility, save hours of manual work, and keep your business running smoothly.
          Try it now and experience the difference.
        </p>
        <a href="/ims/inventory">Get Started!</a>
      </section>
    </main>
  </body>
</html>
